$colorText : black;
$colorTextInput : #01A0FE;
$colorTextDesc : gray;
$colorBackground : #e7e7e7;
$colorBackgroundInput : transparent;
$colorBackgroundFooter : gray;

$font : Arial,Helvetica,sans-serif;
$fontWeight : normal;
$fontWeightInput : normal;

$breakMin : 760px;
$breakMax : 759px;