body{
    background-color : $colorBackground;
    font-family : $font;
    font-weight : $fontWeight;
    
    *{
        box-sizing : border-box;
    }
    #content{
        text-align : center;
        width : 100%;
        padding : 30px;
        color : $colorText;
    }
}